/* =========================
  BODY
========================= */
body.barulhario {
  position: relative;
  font-family: sans-serif;
  margin: 0;
  background-color: #FCF4FC;
}

body.barulhario::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-image: radial-gradient(
    rgba(175, 140, 190, 0.18) 1px,
    transparent 2px
  );
  background-size: 1.5em 1.5em;
  pointer-events: none;
  z-index: -1;
}




/* =========================
  MAIN
========================= */
.barulhario-main {
  padding: 3rem 6rem 3rem;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh; 
}





.barulhario-container {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically if container has height */
  flex-direction: column;/
}

.barulhario-title {
  max-width: 90%;          /* responsive width */
  height: auto;            /* maintain aspect ratio */
  display: block;
  margin: 0 auto;
}