html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body.criaçoescsom {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto; /* enable vertical scroll */
  position: relative;
  margin: 0;
}

/* logo animation */
#logo-container {
  transform: translateY(0);
}

/*JS handles easing */
#logo-container.hidden {}
#logo-container.visible {}



#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

body.criaçoescsom .page-title {
  position: absolute;
  top: clamp(1.5rem, 2vw, 1.5rem);
  left: clamp(1.5rem, 2vw, 1.5rem);
  height: 2.4rem;
  padding: 0 0.5em;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'KiRegular';
  font-size: 1.4rem;
  line-height: normal;
  text-transform: uppercase;
  white-space: nowrap;
  pointer-events: none;
  color: #000;
  border-radius: 8px;
}

body.criaçoescsom .page-title span {
  display: block;
  transform: translateY(1px);
  line-height: 1.2rem;
}

#menu-button,
.nav-btn,
.social-btn {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

main.criaçoescsom {
  padding:
    clamp(9rem, 16vw, 16rem)
    clamp(1.5rem, 6vw, 6rem)
    clamp(3rem, 7vw, 6rem);
    
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: clamp(3rem, 12vw, 12rem);

}

.content-container {
  max-width: 1400px;
  width: 100%;
  padding: 0 6rem 6rem; 
  margin: 0 auto;
  box-sizing: border-box;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr; /* 1 image per row */
  gap: 2rem;
  justify-items: center; /* center images horizontally */
}

.image-grid img {
  width: 100%;
  max-width: 550px; /* limit image size */
  aspect-ratio: 1 / 1;
  object-fit: contain;
  display: block;
}

@media (max-width: 900px) {
  .content-container {
    padding: 0 2rem 3rem;
  }

  .image-grid img {
    max-width: 90%; /* smaller on mobile */
  }
}

@media (max-width: 700px) {
  body.criaçoescsom .page-title {
    display: none; /* hide desktop title on mobile */
  }
}

.mobile-page-title {
  display: block !important;
  position: relative;       /* in flow */
  text-align: center;
  justify-content: center;
  pointer-events: auto;
  font-family: 'KiRegular';
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);

  width: fit-content;
  padding: 0.3em 0.6em;
  border-radius: 8px;
  text-transform: uppercase;
  margin: 0 auto 2rem; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

