#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* cover entire screen while keeping aspect ratio */
  z-index: -1;       /* behind all other content */
  pointer-events: none; /* so clicks pass through */
}

body.criaçoescsom .page-title {
  position: absolute; 
  top: 1.5rem;
  left: 1.5rem;

  height: 2.4rem;
  padding: 0 0.5em;

  background-color: rgba(255, 255, 255, 0.205); 
  backdrop-filter: blur(15px);               
  -webkit-backdrop-filter: blur(15px);        

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-family: 'KiRegular';
  font-size: 1.4rem;
  line-height: normal;
  padding-top: 0.1em;

  text-transform: uppercase;
  white-space: nowrap;

  pointer-events: none;
  color: #000; 

  border-radius: 8px; 
}



body.criaçoescsom .page-title span {
  display: block;
  transform: translateY(1px); 
  line-height: 1.2rem;
}

#menu-button,
.nav-btn,
.social-btn {
      background-color: rgba(255, 255, 255, 0.205); /* semi-transparent white */
  backdrop-filter: blur(15px);                /* blur the background strongly */
  -webkit-backdrop-filter: blur(15px);  
}