/* =========================
  BODY & MAIN
========================= */
body.gallery {
  overflow: auto;        
  min-height: 100vh;     
  background-color: #fff;
  position: relative;    
  font-family: sans-serif;
  margin: 0;
  overflow-x: hidden;
}

main.galeria {
  padding: 5rem 15rem 0;  
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  margin: 6rem auto;
  gap: 0; /* allows overlapping */
  position: relative;
}

/* base style for images */
.grid-item {
  width: auto;      /* natural width */
  height: auto;     /* keep aspect ratio */
  max-width: 300px; /* optional limit */
  object-fit: cover;

  transition: transform 0.3s ease, z-index 0.2s ease;
  position: relative;
  display: block;
}

/* Hover lift */
.grid-item:hover {
  z-index: 100;
}

/* Random-ish placement using grid-column/grid-row */
.item-1 { grid-column: 1 / span 3; grid-row: 2 / span 4; z-index: 1; }
.item-2 { grid-column: 5 / span 3; grid-row: 1 / span 5; z-index: 2; }
.item-3 { grid-column: 2 / span 4; grid-row: 5 / span 4; z-index: 3; }
.item-4 { grid-column: 7 / span 3; grid-row: 6 / span 4; z-index: 4; }
.item-5 { grid-column: 4 / span 4; grid-row: 9 / span 3; z-index: 5; }
.item-6 { grid-column: 8 / span 3; grid-row: 9 / span 4; z-index: 6; }
.item-7 { grid-column: 7 / span 3; grid-row: 4 / span 4; z-index: 7; }



/* =========================
  SOCIAL BUTTONS
========================= */
.gallery .social-btn {
  background-color: #E8FD94;
}

/* =========================
  GRADIENT
========================= */
.gallery-gradient {
  width: 100%;
  height: 9rem;
  background: linear-gradient(to top, #ED82D1, transparent);
  pointer-events: none;
  z-index: 5;
  position: sticky;
  bottom: 0;
}
