/* =========================
  FONTS
========================= */
@font-face {
  font-family: 'KiRegular';
  src: url('fonts/Ki-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'KiBold';
  src: url('fonts/Ki-Bold.ttf') format('truetype');
}

/* =========================
  BODY & MAIN
========================= */
body.quemsomos {
  min-height: 100vh;
  margin: 0;
  background-color: #fff;
  position: relative;
  overflow-y: auto;
}

body.quemsomos::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(
    rgba(175, 140, 190, 0.18) 1px,
    transparent 2px
  );
  background-size: 1.5em 1.5em;
  pointer-events: none;
  z-index: -1;
}

body.quemsomos .page-title {
  position: absolute; 
  top: 1.5rem;
  left: 1.5rem;

  height: 2.4rem;
  padding: 0 0.5em;

  background-color: #85fca1;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-family: 'KiRegular';
  font-size: 1.4rem;
  line-height: normal;
  padding-top: 0.1em;

  text-transform: uppercase;
  white-space: nowrap;

  pointer-events: none;
}

/* =========================
  MAIN CONTAINER
========================= */
.quemsomos-main {
  padding: 12rem 6rem 3rem;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* =========================
  GRID - IMAGE + TEXT
========================= */
.quemsomos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: start;
}

/* =========================
  PAGE TITLE
========================= */
.quemsomos-page-title {
  font-family: 'KiRegular';
  font-size: 2.8rem;
  text-transform: uppercase;
  color: #000;
  padding: 0.4rem 0.6rem;
  display: inline-block;
  border-radius: 0.6rem;
  margin-bottom: 3rem;
  background-color: #85fca1;
}

/* =========================
  IMAGE
========================= */
.quemsomos-image {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 1.2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.quemsomos-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.2rem;
  box-shadow: 0 0 25px rgba(0,0,0,0.05);
}

/* =========================
   RIGHT COLUMN CONTENT
========================= */


.quemsomos-content p {
  font-family: 'KiRegular';
  font-size: 1.2rem;      
  line-height: 1.7;      
  margin-bottom: 1.2rem;

  opacity: 0.9;          
  color: #000;
}


.about-intro strong,
.about-history strong {
  background-color: #85fca1;
  font-weight: bold;  
  color: #000;
}


